section{
    width: 80vw;
}
mat-card-title{
    color: aliceblue;
}

mat-card{
    width: 50%; 
}
@media (min-width: 1px) and (max-width: 1400px) {
    mat-card{
        width: 200%;
       justify-content: center;
       margin-left: 15%;
    }
  }
.contenedor{
    display: flex;
    justify-content: center;
}
@media (min-width: 1px) and (max-width: 1400px) {
    .contenedor{
       
        display: flex;
        justify-content: center;
    }
  }

mat-table{
    height: 500px;
    overflow-y: scroll;
    
}
