section{

    color: aliceblue;
    background-color: #21222D;;
    justify-content: center;
}
mat-table{
    background-color: #21222D;

}

@media screen and (max-width:1000px) {
    section{
     
        padding: 10px;
        width: 250%;
    }
}
h3{
    text-align: center;
}
mat-table{
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
}
::ng-deep .apliColor mat-form-field .mdc-text-field {
    background-color: #171821 !important;
    padding: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    width: 12vw;
    border-radius: 0%;
  }
  .contenedor{

    margin-top: 20px; }