section{
    color: aliceblue;
    padding: 30px;
    text-align: center;
    background-color: #21222D;
}
@media (min-width: 1px) and (max-width: 1000px) {
    section{
        color: aliceblue;
        padding: 30px;
        text-align: center;
        width: 200%;
    }
  }

  mat-table{
    background-color: #21222D;
  }
  .elibtn{
    align-items: center;
    padding: 8px 12px;
    background-color: rgba(255, 0, 0, 0.142); 
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorred{
    color:rgb(255, 0, 0);
}
::ng-deep .apliColor mat-form-field .mdc-text-field {
    background-color: #171821 !important;
    padding: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    width: 12vw;
  }