section{
    padding: 30px;
    background-color: #21222D;
}mat-card{
    background-color: #21222D;
    }

mat-table {
    max-height: 50vh; 
    overflow-y: auto; 
    display: block; 
    background-color: #21222D; 
}
.Prbtn{ 
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
    color:  rgb(141, 216, 254);
}
.elisupbtn{
    align-items: center; 
    padding: 15px 20px;
    background-color: rgba(255, 0, 0, 0.142); 
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.aprobarbtn{
    align-items: center;
    padding: 7px 22px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}