<section>
    <h3> Cambio de Contraseña </h3>
    <form [formGroup]="formGroup">
        <div class = "w-100">
            <mat-form-field class = "w-100">
                <mat-label> Nueva Contraseña </mat-label>
                <input type="password" matInput formControlName = "password" (keyup.enter)="cambiarPassword()">
            </mat-form-field>
        </div>
        <div class = "w-100">
            <mat-form-field class = "w-100 text-align-center">
                <mat-label> Confirmar Contraseña </mat-label>
                <input type="password" matInput formControlName = "passwordConf" (keyup.enter)="cambiarPassword()">
            </mat-form-field>
        </div>
    </form>
    <button type = "submit" class = "btn btn-primary" (click)="cambiarPassword()"> Cambiar Contraseña </button>
</section>
