section{
    padding: 30px;
    color: aliceblue;
}

h3{
    text-align: center;
}

mat-form-field{
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 15px; 
  }
  
 
  .input-field {
    flex: 1;
  }
  

  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; 
  }
  