<section class = "compras-section">
    <h3 class = "text-center text-white">Administración de Compras </h3>
    <div class = "compras-container">
        <div class = "flex justify-between pl-3 pr-3 hover:bg-gray-800 cursor-pointer items-center" (click)="generarOCOpened.set(!generarOCOpened())">
            <div>
                <p class = "text-bold text-white text-2xl px-3 pt-3"> Generar Orden de Compra </p>
                <p class = "text-white text-sm px-3"> <strong> <i> (Click para generar una nueva OC) </i> </strong> </p>
            </div>
            <div class = "text-white bg-transparent p-2 w-20 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
                </svg>
            </div>
        </div>
        <div class = "generar-oc" [hidden]="!generarOCOpened()">
            <app-generar-oc [ordenCompraSeleccionada]="ordenCompraSeleccionada()"></app-generar-oc>
        </div>
    </div>
    <div class = "vista-compras">
        <app-vista-compras (setOrdenCompraSeleccionada)="setOrdenCompraSeleccionada($event)"></app-vista-compras>
    </div>
</section>