/* Estilos básicos para el componente refactorizado */
.compras-container{
  width: 100%;
  overflow: hidden;
  background-color: #21222D;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(129, 121, 121, 0.5);
}

.generar-oc{
  height: 0;
  overflow: hidden;
  max-width: 100%;
  transition: height 0.3s ease-in-out;
}

.compras-section{
  min-height: 70dvh;
}

.generar-oc[hidden]{
  height: 0;
}

.generar-oc:not([hidden]){
  min-height: 550px;
}

.vista-compras{
  max-width: 100%;
}