
* {
    box-sizing: border-box;
    overflow-y:unset;
    }
    
    *:focus {
      outline: none;
    }
    .logo {
  
      top: 10px; 
      left: 10px; 
      width: 50px; 
      height: auto; 
  }
    #body {
      font-family: Arial;

      display: flex;
      margin-top: 80px;
     justify-content: center;
      align-items: center;
      height: 100%;
      /* background-image: url('/distribuible_dctires/llantas.jpg'); */
      background-color: #171821;
      background-repeat: no-repeat;
      background-size: cover;
     
    }
    img{
      border-radius: 0px 50px 30px 0px;
    }
    
    .login {
      width: 32vw;
      height: 78vh;  
      margin-left: 8vw;
      }

    .login-screen {
      background-color: #21222D;
      padding: 20px;
      border-radius: 20px 20px 20px 20px;
      width: 100%;
      justify-content: start;

    }
    
    .app-title {
      justify-content: end;
      color: #777;
      margin-bottom: 4%;
     
    }
    
    .login-form {
      text-align: start;
    }
    .control-group {
      margin-bottom: 30px;
    }

    i{
      margin-right: 10px;
      cursor: pointer;
    }

    form{
      max-height: 50px;
    }
    .login-field{
      background-color: #171821;
      width: 100%;
      border: #ffffff51 solid 1px;
      padding: 14px;
      color: #ffffff;
    }
    
    input, form{
      text-align:start;
      background-color: #ECF0F1;
      border: 2px solid transparent;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 200;
      padding: 11px 0;
      width: 95%;
      transition: .5s;
    }
    
    .focus{
      border: 2px solid #3498DB;
      box-shadow: none;
    }
    
    .btn {
      background-color: #FFAF25; 
      color: #171821;
      width: 100%;
      border: #171821 solid 1px;
      padding: 10px;
      margin-top: 15px;
    }
    
    .btn:hover {
      background-color: #6c7175;
    }
    
    .login-link {
      font-size: 12px;
      color: #444;
      display: block;
      margin-top: 12px;
    
    }
    .fondo{
      justify-content: start;
      width: 100%;
    }
    
    @media (min-width: 1px) and (max-width: 1370px) {
      .OtrasPantallas{
      display: none;
      }  
      .login {
        width: 50vw;
        height: 70vh;  
        margin-left: 25vw;
        }
        .login-screen {
          background-color: #21222D;
          padding: 20px;
          border-radius: 20px 20px 20px 20px;
          width: 100%;
          justify-content: start;
          height: 60%;
          margin-top: 35%;
        }


        #body {
          font-family: Arial;
          display: flex;
          margin-top: 100px;
         justify-content: center;
          align-items: center;
          height: 100%;
          /* background-image: url('/distribuible_dctires/llantas.jpg'); */
          background-color: #171821;
          background-repeat: no-repeat;
          background-size: cover;
         
        }
        .fondo{
          justify-content: start;
          width: 100%;
          height: 100%;
        }
    }