#bodyProductos{
    margin-top: 4%;
    margin-left: 4%;
    width: 75vw;
}
mat-card{
    background-color: #21222D
}

.fondo{
    
     margin-left: 1%; 
     background-color: #171821; 
     padding: 1%;
      border-radius: 10px;
}

#tituloCard > span{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

mat-card-subtitle{
    color: rgb(151, 147, 147);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.divprincipal{
    display: flex;
    gap: 12px;
}
@media  (max-width: 1380px) {
    .divprincipal{
        display:contents;
    }
}

span{
    color:gainsboro;
}
@media screen and (max-width: 1380px) {
    mat-card{
        width: 90vw;
      margin-top: 13%;

    }
}

  ::ng-deep .edicionForm mat-form-field .mdc-text-field {
    background-color: #171821 !important;
    border-radius: 12px;
    padding: 5px;
    border: none;
    width: 100%;
  }
  .Grbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: #82f06c3b; 
    border: 1px solid #82f06cd6;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.colorGreen{
    color: #82f06cd6;
}