<div id = "bodyProductos" class = "col-sm-12">
    <h3 style = "text-align: center; color: aliceblue;">Edición de productos</h3>
    <br>
    <mat-card>
        <mat-card-content >
            <div class = "w-25%" id = "tituloCard">
                <span class="fondo" style="color: aliceblue;" > {{estatus == 'nueva' ? 'Alta' : estatus == 'edicion' ? 'Edición' : 'Vista'}} de llantas </span>
            </div>
            <br>
            <div class = "d-flex gap-3 edicionForm">
    
                <mat-form-field style = "width: 100%;">
                    <mat-label>Nombre del producto</mat-label>
                    <input type="text" matInput placeholder="Ej. Llanta de tractor" required [formControl] = "nombre">
                </mat-form-field>
            </div>

            <div class = "divprincipal edicionForm">
                <mat-form-field style = "width: 100%;">
                    <span>IVA</span>
                    <mat-select placeholder="Seleccionar" [disabled] = "estatus == 'vista'" [(ngModel)]="iva">
                        @for (item of opcionesIVA; track item) {
                            <mat-option [value]="item.clave">
                                {{item.descripcion}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field style = "width: 100%;">
                    <span>Categoría</span>
                    <mat-select placeholder="Seleccionar" [disabled] = "estatus == 'vista'" [(ngModel)]="categoria" (selectionChange)="seleccionarCategoria()">
                        @for (item of categorias; track item) {
                            <mat-option [value]="item.categoriaId"  *ngIf="item.categoriaId !== 2">
                                {{item.nombre}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field style = "width: 100%;">
                    <mat-label>Marca</mat-label>
                    <input matInput [formControl] = "marcass" [matAutocomplete]="auto2">
                    <mat-autocomplete #auto2="matAutocomplete" autoActiveFirstOption="">
                        <mat-option *ngFor = "let actual of marcasFiltradas | async" [value] = "actual.nombre"> 
                        {{actual.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Precio de Compra</mat-label>
                    <input matInput [formControl] = "preciocompra" >
                </mat-form-field>
            </div>

            <div *ngIf = "categoria == 3">
                <span>Datos complementarios</span>
                <div class = "d-flex gap-3 edicionForm">

                    <mat-form-field style = "width: 100%;">
                        <mat-label>Modelo</mat-label>
                        <input matInput [formControl] = "modelo" >
                    </mat-form-field>
        
                    <mat-form-field style = "width: 100%;">
                        <mat-label>Tipo de llanta</mat-label>
                        <mat-select [(value)] = "tipo">
                            @for(item of tiposProductos; track item;){
                                <mat-option [value] = "item">
                                    {{item}}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                </div>
    
                <div class = "d-flex gap-3  edicionForm">
                    <mat-form-field style = "width: 100%;" color="primary" background = "red">
                        <mat-label>Ancho del producto</mat-label>
                        <input type="number" matInput placeholder="Ej. 12" [formControl] = "ancho" (ngModelChange)="cargarNombre()">
                    </mat-form-field>
        
                    <mat-form-field style = "width: 100%;">
                        <mat-label>Alto del producto</mat-label>
                        <input type="number" matInput placeholder="Ej. Llanta de tractor" [formControl] = "alto" (ngModelChange)="cargarNombre()">
                    </mat-form-field>
                </div>
    
                <div class = "divprincipal edicionForm">
                    <mat-form-field style = "width: 100%;">
                        <span>R o C</span>
                        <mat-select placeholder="Seleccionar" [disabled] = "estatus == 'vista'" [(ngModel)]="roc" (selectionChange)="cargarNombre()">
                            @for (item of opcionesRadiales; track item) {
                                <mat-option [value]="item">
                                    {{item}}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
    
                    
                    <mat-form-field style = "width: 100%;">
                        <mat-label>Tamaño del rin</mat-label>
                        <input type="number" matInput placeholder="Ej. Llanta de tractor" [formControl] = "rin" (ngModelChange)="cargarNombre()">
                    </mat-form-field>
    
                    <mat-form-field style = "width: 100%;">
                        <mat-label>Capacidad de Carga</mat-label>
                        <input type="number" matInput placeholder="Ej. Llanta de tractor" [formControl] = "indiceCarga" (ngModelChange)="cargarNombre()">
                    </mat-form-field>
                </div>
    
                <div class = "divprincipal edicionForm">
                    <mat-form-field style = "width: 100%;">
                        <mat-label>Letra de Velocidad</mat-label>
                        <mat-select placeholder="Letra de Velocidad" [(ngModel)]="letraVelocidadId">
                            @for(item of letraVelocidad; track item){
                                <mat-option [value] = "item.letraVelocidadId">
                                    {{item.letra}}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field style = "width: 100%;">
                        <mat-label>Aplicación de llanta</mat-label>
                        <input type="text" matInput placeholder="Ej. Llanta de tractor" [formControl] = "aplicacion">
                    </mat-form-field>
    
                    <mat-form-field style = "width: 100%;">
                        <mat-label>Tipo de Vehiculo</mat-label>
                        <input type="text" matInput placeholder="Ej. De Carga" [formControl] = "tipoVehiculo">
                    </mat-form-field>
                </div>
            </div>


            <div class = "d-flex gap-3 justify-content-end">
                <button class = "Grbtn" (click)="guardarProducto()"> 
                    <svg style="color:#82f06cd6 ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                        <path d="M11 2H9v3h2z"/>
                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                    </svg><span style="color: #82f06cd6;"> &nbsp;Guardar</span>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>