section{
    width: 80vw;
}

h3{
    text-align: center;
}

mat-table{
    max-height: 60vh;
    overflow-y: auto;
    background-color: #21222D;
 
}
mat-card{
    background-color: #21222D;
    }
@media (min-width: 1px) and (max-width: 1030px) {
    section{
     
        width: 87%;
      
    }

    mat-card{
        width: 110%;
        overflow-x: auto;
    margin-left: 2%;
    }
mat-card-content{
    width: 170%;
}
  }
  @media (min-width: 1031px) and (max-width: 1400px) {
  
    section{
     
        width: 100%;
      
    }

    mat-card{
        width: 110%;
        overflow-x: auto;
    margin-left: 5px;
    }
mat-card-content{
    width: 170%;
}
  }
  .elibtn{
    align-items: center;
    padding: 8px 12px;
    background-color: rgba(255, 0, 0, 0.142); 
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorred{
    color:rgb(255, 0, 0);
}
.corteP{
    align-items: center;
    padding: 8px 12px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorBlue{
    color:rgb(141, 216, 254);
}
.historial{
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}

.RealizarEfectivo{
    align-items: center;
    padding: 10px 20px;
    background-color: #f9d44058; 
    border: 1px solid #fad028;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorYellow{
    color: #fad028;
}