<section>
    <h3> Detalles Pago </h3>
        <mat-tab-group animationDuration="0ms">
                <mat-tab label = "Detalles Pagos Venta">
                    <br>
                    <mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="ventaId">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Folio de Venta </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'ventaId')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.ventaId}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatusVenta">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Estatus Venta </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'estatusVenta')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.estatusVenta}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="pagoId">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Folio del Pago </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'pagoId')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.pagoId}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatusPagoVenta">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Estatus pago  </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'estatusPagoVenta')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.estatusPagoVenta}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="montoVenta">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Monto Venta </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'montoVenta')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.montoVenta}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="montoPago">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Monto Pago </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'montoPago')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.montoPago}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fechaPago">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Fecha Pago </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'fechaPago')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.fechaPago}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Nombre </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'nombre')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.nombre}}
                            </mat-cell>
                        </ng-container>
                                  
                        <ng-container matColumnDef="eliminar">
                            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <ng-container *ngIf="element.estatusPagoVenta !== 'NA' && element.estatusPagoVenta !=='Cancelado'">
                                    <button class = "btn btn-danger" (click)="cambiarEstatusV(element.pagoId)" matTooltip="Cambiar Estatus" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button> 
                                </ng-container>
                                </mat-cell>
                            </ng-container>

                        <mat-header-row *matHeaderRowDef="columnasDesplegadas; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnasDesplegadas;"></mat-row>
                    </mat-table>
            </mat-tab>

                <mat-tab label = "Detalles Pagos Ordenes de Compra">
                    <br>
                    <mat-table [dataSource]="dataSourceOC">
                        <ng-container matColumnDef="pagoId">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Folio Pagos </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatosOc($any($event.target).value, 'pagoId')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.pagoId}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="monto">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Monto </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatosOc($any($event.target).value, 'monto')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.monto}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fechapago">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Fecha Pago </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatosOc($any($event.target).value, 'fechapago')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.fechapago}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatusPagoOc">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Estatus PagoOC </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatosOc($any($event.target).value, 'estatusPagoOc')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.estatusPagoOc}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ordenCompraId">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Folio OC </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatosOc($any($event.target).value, 'ordenCompraId')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.ordenCompraId}}
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="importeTotal">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Importe Total </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatosOc($any($event.target).value, 'importeTotal')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.importeTotal}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="pendiente">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Pendiente </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatosOc($any($event.target).value, 'pendiente')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.pendiente}}
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="solicitante">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Solicitante </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatosOc($any($event.target).value, 'solicitante')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.solicitante}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estatusOrdenCompra">
                            <mat-header-cell *matHeaderCellDef> 
                                <mat-form-field appearance="outline">
                                    <mat-label> Estatus Orden Compra </mat-label>
                                    <input type="text" matInput (keyup)="filtrarDatosOc($any($event.target).value, 'estatusOrdenCompra')">
                                </mat-form-field>    
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.estatusOrdenCompra}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="eliminar">
                            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <ng-container *ngIf="element.estatusPagoOc !== 'NA' && element.estatusPagoOc !=='Cancelado'">
                                    <button class = "btn btn-danger" (click)="cambiarEstatusOC(element.pagoId)" matTooltip="Cambiar Estatus" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button> 
                                </ng-container>
                                </mat-cell>
                            </ng-container>
                        <mat-header-row *matHeaderRowDef="columnasDesplegadasOC; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnasDesplegadasOC;"></mat-row>
                    </mat-table>
                </mat-tab>
            </mat-tab-group>
</section>
