section{
    width: 80vw;
    max-height: 80vh;

}
@media screen and (max-width:1380px) {
    section{
        width: 100%;
        max-height: 100%;
        overflow-y:visible;
        text-align: center;
        margin: 0;
        padding: 0%;
    }
}

.menuI, .menuD{
    display: flex;
    margin-bottom: 24px;
}

#ulitmoElemento{
    margin-bottom: 0;
}

.menuI{
    justify-content: start;
}

.menuD{
    justify-content: start;
}


.contentC:hover, .contentV:hover, .contentCF:hover{
    box-shadow: 10px 10px 10px black;
}

span{
    color: aliceblue;
}
 .contentV, .contentCF{
    width: 100%;
    height: 37vh;
    background-color: rgb(215, 6, 6);
    transition: 0.5s;
    border-radius: 10px;
}
.contentC{
    width: 95%;
    height: 37vh;
    background-color: rgb(6, 215, 191);
    transition: 0.5s;
    border-radius: 10px;
}
.contentCo{
    width: 100%;
    height: 30vh;
    background-color: rgb(6, 194, 215);
    transition: 0.5s;
    border-radius: 10px;
}

@media (min-width: 1px) and (max-width: 900px) {
    .contentC, .contentCo, .contentV, .contentCF{
        padding-top: 1%;
        width: 90%;
        margin-left: 5%;
        height: 27vh;
        background-color: rgb(7, 6, 6);
        transition: 0.5s;
        border-radius: 20px;
    }
  }
.contentCo{
    background-position: start;
    background-size: 170px;
    background-repeat: no-repeat;
}
@media (min-width: 1px) and (max-width: 600px) {
    .contentCo{
        background-image:none;
        background-position: start;
        background-size: 170px;
        background-repeat: no-repeat;
    }
  }
.contentV{
    background-position: right;
    background-size: 170px;
    background-repeat: no-repeat;
   
}
@media (min-width: 1px) and (max-width: 600px) {
    .contentV{
        background-image: none;
        background-position: right;
        background-size: 170px;
        background-repeat: no-repeat;
        padding-left: 1%;
       
    
  }}
.contentCF{
    background-position: right;
    background-size: 160px;
    background-repeat: no-repeat;
} 
@media (min-width: 1px) and (max-width: 600px) {
    .contentCF{
        background-image: none;
        background-position: right;
        background-size: 160px;
        background-repeat: no-repeat;
        padding-right: 1%;
    } }
.contentC{
    background-position: start;
    background-size: 160px;
    background-repeat: no-repeat;
} 
@media (min-width: 1px) and (max-width: 600px) {
    .contentC{
        background-image: none;
        background-position: start;
        background-size: 160px;
        background-repeat: no-repeat;
    }
  }

.tituloContent{
    display: flex;
    justify-content: center;
    align-items:initial;

}


h4{
    color: rgb(227, 233, 238)!important;
}

@media (min-width: 1px) and (max-width: 600px) {
    h4{
        color: rgb(0, 1, 2);
        font-size: 15px;
    }  }

a, .cliente,button{
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 1.5%;
    gap: 20px;
    color: aliceblue;
    border-radius: 10px;
    transition: 0.5s;
    border: 0;

}
a:hover, .cliente:hover, button:hover {
    transform: scale(1.1); 
    background-color: #1f1f2e; 
}
a svg, .cliente svg, button svg {
    transition: filter 0.5s;
}

a:hover svg, .cliente:hover svg, button:hover svg {
    filter: brightness(2.5); 
}
.estiloText{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 4%;

}

.contentMedioD{
    width: 100%;
    height: 37vh;
    /* background-color: orange; */
    background-color: #21222D;
    border-radius: 10px;
    transition: 0.5s;
    overflow-y: auto;
}
.contentMediof{
    width: 100%;
    height: 37vh;
    /* background-color: orange; */
    background-color: #21222D;
    border-radius: 10px;
    transition: 0.5s;
    overflow-y: auto;
}
 .contentMedioI{
    width: 100%;
    height: 30vh;
    /* background-color: orange; */
    background-color: #21222D;
    border-radius: 10px;
    transition: 0.5s;
    overflow-y: auto;
}
.letra{
    color: aliceblue;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
}

@media (min-width: 1px) and (max-width: 900px) {
    .contentMedioI, .contentMedioD{
          margin-left: 4%;
          height: 17vh;
          width: 93%;
          background: linear-gradient(45deg, orange, rgb(238, 111, 26), rgb(243, 55, 55));
          box-shadow: 10px 10px 10px black;
          border-radius: 10px;
          transition: 0.5s;
          padding: 5px;
          overflow-y: visible;
      }
      a, .cliente,button{
        text-decoration: none;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 130%;
 
        background-color: rgba(167, 152, 152, 0.1);
        color: aliceblue;
        border-radius: 10px;
        transition: 0.5s;
     
    }
    ::ng-deep .mat-mdc-menu-content {
        background-color: black !important; /* Color de fondo oscuro */
        color: white !important; /* Texto en blanco */
        padding: 10px !important; /* Ajustar el padding */
        border-radius: 10px;
    }
        
  }

.botonSuperior{
    margin-bottom: 2%;
    display: flex;
    gap: 5rem; 
    height: 90px;
}
.botonSuperiordos{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    gap: 4rem; 
    height: 70px;
    margin-left: 6%;
    margin-right: 6%;
}
.botoninf{
    display: flex;
    gap: 5rem; 
    height: 90px;
}
.botoninfdos{
    display: flex;
    gap: 4rem; 
    height: 70px;
    margin-left: 6%;
    margin-right: 6%;
}
.botones{
    display: none;
}
@media (min-width: 1000px) and (max-width: 8000px) {
    .botones{
        display: block;
        background-color: #171821;
  }}
.menuMin{
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
color: aliceblue;
  border: 2px solid white;
}
@media (min-width: 1000px) and (max-width: 8000px) {
    .menuMin{
        display: none;
    }
  }
.botoncentral{
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 60%; 
    width: 45%;
    margin-left: 30%;
    margin-top: 4%;
}

.permisos{
   display: none;
}
@media (min-width: 1000px) and (max-width: 8000px) {
    .permisos{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.predefined{
    display: none;
 
}
@media (min-width: 1000px) and (max-width: 8000px) {
    .predefined{
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #171821;
    }
}
.hide-important {
    display: none !important;
  }

  .div1, .div2 {
    margin: 0 !important;
    padding: 0 !important;
}

.estiloText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 5px;
}