section{
  
    background-color: #21222D;
    overflow-y: hidden;
}
mat-card-content{
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
   
}
.datosOC{
    background-color: #21222D;
    overflow-y: auto;
    width: 100%;
}
mat-card{
    width: 88vw;
    background-color: #21222D;
}
mat-table{
    background-color: #21222D;
}
.Prbtn{ 
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
    color:  rgb(141, 216, 254);
    margin-left: 15px;
    margin-top: 15px;
}