section{
    padding: 30px;
    color: aliceblue;
    background-color: #21222D;
}
mat-table{

    background-color: #21222D;
}
.elibtn{
  align-items: center;
  padding: 5px 10px;
  background-color: rgba(255, 0, 0, 0.142); 
  border: 1px solid rgb(255, 0, 0);
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; 
}
.colorred{
  color:rgb(255, 0, 0);
}
h3{
    text-align: center;
}

button{
    max-height: 5vh;
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @media (min-width: 1px) and (max-width: 950px) {

    .datosOC{
        width: 300%;
        overflow-x: hidden;
    }
    mat-table{
      width: 100%;
  }
  section{
    padding: 30px;
    color: aliceblue;
    width: 100%;
}

}
.Cvbtn{
  align-items: center;
  padding: 5px 20px;
  background-color: #f9d44058; 
  border: 1px solid #fad028;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; 
  justify-content: center;
}
.colorYellow{
  color: #fad028;
}
.Grbtn{
  align-items: center;
  padding: 5px 20px;
  background-color: #82f06c3b; 
  border: 1px solid #82f06cd6;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  justify-content: center;
}
.colorGreen{
  color: #82f06cd6;
}