mat-card-content{
    width: 80vw;
    overflow-x: auto;
}
mat-card{
    background-color: #21222D !important;
}
mat-table{
    background-color: #21222D !important;
}
@media (max-width: 750px) {
    mat-table{
        width: 160%;
        overflow-x: auto;
    }
}
@media (min-width: 1px) and (max-width: 1400px) {
    mat-card-content{
        width: 90vw;
       
    }
  }
  @media (min-width: 1px) and (max-width: 1400px) {
    mat-card{
        width: 95%;
       justify-content: center;
   margin-left: 15px;
    }
  }
   
.editbtn{
    align-items: center;
    padding: 7px 10px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorBlue{
    color:rgb(141, 216, 254);
}
.elibtn{
    align-items: center;
    padding: 7px 10px;
    background-color: rgba(255, 0, 0, 0.142); 
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorred{
    color:rgb(255, 0, 0);
}
.Grbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: #82f06c3b; 
    border: 1px solid #82f06cd6;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.colorGreen{
    color: #82f06cd6;
}
.Prbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
::ng-deep .apliColor mat-form-field .mdc-text-field {
    background-color: #171821 !important;
    padding: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    width: 12vw;
  }