<br>
<h3 style = "text-align: center; color: aliceblue;">Listado de productos</h3>
<mat-card>
    <mat-card-content>
        <div  class = "datosOC">
        <mat-table [dataSource]="dataSource" style = "color: white;">
            <ng-container matColumnDef="productoId">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.productoid}} </mat-cell>
            </ng-container> 
     
            <ng-container matColumnDef="clave">
                <mat-header-cell *matHeaderCellDef> Clave </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.productoid}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-form-field appearance="outline">
                        <mat-label>Producto</mat-label>
                        <input type="text" matInput [formControl]="filtroNombre" (keyup)="obtenerProductos()">
                    </mat-form-field>    
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="marca">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-form-field appearance="outline">
                        <mat-label>Marca</mat-label>
                        <input type="text" matInput [formControl]="filtroMarca" (keyup)="obtenerProductos()">
                    </mat-form-field>     
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.marca}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="modelo">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-form-field appearance="outline">
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput [formControl]="filtroModelo" (keyup)="obtenerProductos()">
                    </mat-form-field>     
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.modelo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-form-field appearance="outline">
                        <mat-label>Categoría</mat-label>
                        <input type="text" matInput [formControl]="filtroCategoria" (keyup)="obtenerProductos()">
                    </mat-form-field>     
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.categoria}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="precioCompra">
                <mat-header-cell *matHeaderCellDef> Precio de Compra </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.precioCompra}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element" class = "botones"> 
                    <!--VER-->
                    <button id ="VerLP" class = "Grbtn" (click) = "abrirProducto(element.productoid, 'vista')" #mostrarAlta> 
                        <svg style="color:  #82f06cd6;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                        </svg>    
                    </button> &nbsp;&nbsp;
                    <!--EDITAR-->
                    <button id="editarLP"   class = "Prbtn"  (click) = "abrirProducto(element.productoid, 'edicion')" #mostrarAlta> 
                        <svg style="color: rgb(141, 216, 254);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>  
                    </button> &nbsp;&nbsp;
                    <!--ELIMINAR-->
                    <button id="eliminarLP"  class = "elibtn"(click)="eliminarProducto(element.productoid, element.nombre)" #mostrarAlta > 
                        <svg style="color:rgb(255, 0, 0) ;"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>  
                    </button>&nbsp;&nbsp;
                    <button class="downloadbtn" (click) = "imprimirCotizacion(element.productoid)">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(141, 216, 254)" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnasDesplegadas; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasDesplegadas;"></mat-row>
        </mat-table>
    </div>
        <mat-paginator [pageSizeOptions]="[10, 50, 100]" class="actColor"></mat-paginator>
        <br>
        <div class = "d-flex justify-content-end" style="gap:10px" >
            <button class="historialbtn" (click) = "abrirHistorial()">
                <span style="color:rgb(141, 216, 254)">Historial Cotizaciones</span>
            </button>
            <button class = "Cvbtn" (click) = "abrirProducto(-1, 'alta')" id = "añadirproducto"  #mostrarAlta>
                <svg style="color:#fad028;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg> <span style="color:#fad028;">&nbsp;Producto</span>
            </button>
        </div>
    </mat-card-content>
</mat-card>