<br>
<h3 style = "text-align: center;">Listado de productos</h3>
<mat-card>
    <mat-card-content>
        <mat-table [dataSource]="dataSource" style = "color: white;">
            <ng-container matColumnDef="productoId">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.productoid}} </mat-cell>
            </ng-container> 

            <ng-container matColumnDef="clave">
                <mat-header-cell *matHeaderCellDef> Clave </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.productoid}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-form-field appearance="outline">
                        <mat-label>Producto</mat-label>
                        <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'nombrefiltro')">
                    </mat-form-field>    
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="marca">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-form-field appearance="outline">
                        <mat-label>Marca</mat-label>
                        <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'marca')">
                    </mat-form-field>     
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.marca}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="modelo">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-form-field appearance="outline">
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'modelo')">
                    </mat-form-field>     
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.modelo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.categoria}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element" class = "botones"> 
                    <!--VER-->
                    <button class = "btn btn-success" (click) = "abrirProducto(element.productoid, 'vista')"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                        </svg>    
                    </button> &nbsp;&nbsp;
                    <!--EDITAR-->
                    <button id="editarLP"  *ngIf="mostrarBotonEditar"  class = "btn btn-primary"  (click) = "abrirProducto(element.productoid, 'edicion')" mostrarAlta> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>  
                    </button> &nbsp;&nbsp;
                    <!--ELIMINAR-->
                    <button id="eliminarLP"  *ngIf="mostrarBotonEliminar" class = "btn btn-danger"(click)="eliminarProducto(element.productoid, element.nombre)" mostrarAlta > 
                        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>  
                    </button>&nbsp;&nbsp;
                    <button class = "btn btn-warning" (click) = "ubicacionProducto(element.productoid)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8z"/>
                            <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                        </svg>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnasDesplegadas; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasDesplegadas;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
        <br>
        <div class = "d-flex justify-content-end">
            <button class = "btn btn-warning" (click)="abirServicio()" id = "añadirServicio"  #mostrarAlta > 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg> Servicio
            </button> &nbsp;&nbsp;
            
            <button class = "btn btn-warning" (click)="abrirAltasLetras()" id = "añadirLetras"  #mostrarAlta > 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg> Letras
            </button> &nbsp;&nbsp;

            <button class = "btn btn-warning" (click) = "abrirCategorias()" id = "añadirCategoría"  #mostrarAlta >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg> Categoría
            </button> &nbsp;&nbsp;
            <button class = "btn btn-warning" (click) = "abrirProducto(-1, 'alta')" id = "añadirproducto"  #mostrarAlta>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg> Producto
            </button>
        </div>
    </mat-card-content>
</mat-card>