section{
    width: 80vw;
    overflow-x: hidden;
}


.contenedor{
    width: 75%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

span{
    color: aliceblue;
}

mat-form-field{
    max-height: 70px;
}

mat-card{
    max-height: 70vh;
    background-color: #21222D;
}

@media (min-width: 1px) and (max-width: 950px) {

    mat-card{
     width: 100%;
     margin-left: 10%;
     background-color: #21222D;
    }
    .tabla{
        overflow-x: auto;
        width: 300%;
    }
    .datosOC{
        width: 70vw;
        overflow-x: auto;
    }
    mat-card-content{
        width: 100%;
        overflow-x:hidden;
    }
}
button{
    max-height: 50px;
}

.divMixtos{
    width: 75%;
    padding: 5px;
}

mat-table{
    max-height: 50vh;
    width: 100%;
    overflow-y: auto;
    background-color: #21222D;
}

mat-header-cell{
    position: sticky !important;
    top: 0;
    z-index: 2;
}

.Cvbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: #f9d44058; 
    border: 1px solid #fad028;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorYellow{
    color: #fad028;
}

.lmpbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: #5316c558; 
    border: 1px solid #b728fa;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
    color: #d049ff;
}

.selectPrecio{
    background-color: #171821;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(151, 151, 151, 0.5);
    color: aliceblue;
}

mat-form-field{
   margin-bottom: 10px;
}
::ng-deep .apliColor mat-form-field .mdc-text-field {
    background-color: #171821 !important;
    padding: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    width: 20vw;
    border-radius: 0%;
  }
.colorGreen{
    color: #82f06cd6;
}
.mat2{
   width: 25vw;
   margin-left: 2vw;

}

.mat3{
    width: 100%;
    margin-bottom: 5vh;
    height: auto;
    min-height: 45vh;
    padding-bottom: 20px;
 }
 
.datosOC{
    width: 55vw;
    overflow-x: auto;
}
.datosCv{
    width: 100%;
    overflow-x: auto;
    /* height: 140%; */
}
.ParteSuperior{
    margin-bottom: 10vh;
    overflow: hidden;
    height: 75vh;
}

html {
    scroll-behavior: smooth; /* Activa el desplazamiento suave */
}

.Prbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.descuento{
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorBlue{
    color:rgb(141, 216, 254);
}
.elibtn{
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(255, 0, 0, 0.142); 
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorred{
    color:rgb(255, 0, 0);
}
::ng-deep .cliente mat-form-field .mdc-text-field {
    background-color: #171821 !important;
    border-radius: 12px;
    padding: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    width: 12vw;
}
::ng-deep .mat-popover-panel {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.contenedor-footer{
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    width: 98%;
    margin: 0 auto; /* Center the footer */
    align-items: center; /* Center vertically */
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box; /* Ensure padding doesn't increase width */
}

.slideIva{
    grid-column: 1/2;
    
}
  
.Grbtn{
    padding: 10px 20px;
    background-color: green; 
    border: 1px solid #82f06cd6;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    grid-column: 2/4;
    transition: background-color 0.3s, border-color 0.3s;
    justify-self: start;
}


.totales-info{
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; /* Align text to the right */
    color: black;
    font-weight: bold;
    white-space: nowrap; /* Prevent text wrapping */
}

.card-confirmar-venta {
    max-height: none !important;
    height: auto !important;
    overflow: visible !important;
    width: 100% !important;
}