section{
    width: 80vw;
}

mat-tab ng-template {
    color: red;
}

.contentTab{
    padding: 2%;
}

span{
    color: aliceblue;
}

mat-form-field{
    width: 100%;
}
mat-expansion-panel{
    width: 90%;
    margin: 0 auto;
    
}
