section{
    width: 80vw;
}

mat-tab ng-template {
    color: red;
}
mat-card{
    background-color: #21222D !important;
}
mat-table{
    background-color: #21222D !important;
}
mat-expansion-panel{
    background-color: #21222D !important;
}
.contentTab{
    padding: 2%;
}

span{
    color: aliceblue;
}

mat-form-field{
    width: 100%;
}
mat-expansion-panel{
    width: 90%;
    margin: 0 auto;
    
}

mat-slide-toggle{
    margin-left: 30px;
}
mat-card{
    margin-left: 8%;
}
@media (min-width: 1px) and (max-width: 1400px) {
  
    mat-card{
        width: 115%;
   overflow-x:hidden; 
    margin-left: 5%;
   
    }
mat-card-content{
    width: 150%;
}}
.flexaccess {
    display: flex;
    gap: 3rem;
  }


  @media (min-width: 1px) and (max-width: 1400px) {
    .flexaccess {
         display: block;;
        gap: 3rem;
      }
      mat-form-field{
        justify-content: start;
       width: 65%;
      }
 
      .savebtn{
       margin-right: 54%;
      }
      
   
}
.Grbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: #82f06c3b; 
    border: 1px solid #82f06cd6;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.colorGreen{
    color: #82f06cd6;
}
::ng-deep .apliColor mat-form-field .mdc-text-field {
    background-color: #171821 !important;
    padding: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
    
    ::ng-deep  .mdc-switch__track::before, .mdc-switch__track::after {
        border: none !important;}
    
      ::ng-deep  .mdc-switch__track::before {
    background-color: #171821 !important;
      }
      ::ng-deep   .mdc-switch__icons {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: white !important;
        border-radius: 20px    !important;
    }
    
    ::ng-deep .mdc-switch__track::after {
        transform: translateX(-100%);
        background: #a6a7a988 !important;
    }