.titulosOC{
    height: 5vh; 
    background-color: gray;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoOC{
    border: 2px solid black; 
    height: 8.7vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
mat-card, mat-table{
    background-color: #21222D;
}
.textOc{
    text-align: end;
}
@media (max-width: 700px){
    .textOc{
        text-align: center;
    }
}
mat-card-title{
    color: white;
    text-align: center;
}

span, mat-label{
    font-size: 1vw;
    min-width: 30px;
    color: aliceblue;
}

@media (max-width: 700px){
    span{
        font-size: 8px;
    }

    button{
        margin-left: 15%;
    }
}

@media (max-height: 800px){
    mat-card{
        height: 20vh;
    }
}

td, th{
    border: 2px solid black;
    text-align: center;
}
th{
    background-color: rgb(167, 166, 166);
}
#contenido{
    width: 80vw;
}

mat-table{
    max-height: 30vh;
    overflow-y: auto;
}

.flexcontent{
    display: flex;
    justify-content: space-around;
}

.anchodiv{
width: 48%;
}
.titulosdiv{
color: aliceblue;
text-align: center;
}
.matcardContent{
height: 25vh;
overflow-y: auto;
}
@media (min-width: 1px) and (max-width: 1000px) {

    .flexcontent{
        display: block;
    }
    .anchodiv{
        width: 90%;
        margin-left: 5%;
        }
        span, mat-label{
            font-size: 3vw;
            min-width: 30px;
            color: aliceblue;
        }
        .salto{
            margin-top: 6%;
        }
        .agrandarMat{
    
            height: 25vh;
        }
        .datosOC{
            width: 130%;
            overflow-x: auto;
            overflow-x: auto;
        }
        #contenido{
            width: 100%;
        }
} 
@media (min-width: 1001px) and (max-width: 1370px) {

    #contenido{
        width: 100%;
    }
    span, mat-label{
        font-size:  150%;
        min-width: 30px;
        color: aliceblue;
    }
    mat-header-cell{
        font-size: 150%;
    }
    mat-cell{
        font-size: 150%;
    }
}
