<br>
<h3 style = "text-align: center; margin-bottom: 10px;" class = "text-teal-50">Control de Inventario</h3>
<mat-card>
    <mat-card-content>
     
        <!-- matSort (matSortChange)="SortData($event)" -->
        <div class = "datosOC">
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Id Inventario</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="seleccionarDOTS">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-checkbox (change) = "seleccionarDOTS($any($event.checked))" [(ngModel)] = "allDotsSeleccionados"> Seleccionar DOTS </mat-checkbox> 
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <mat-checkbox [(ngModel)]="element.seleccionado" [disabled]="element.dot != '' && permitirVariosDOTS"> </mat-checkbox> 
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="clave">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-form-field appearance="outline">
                        <input type="text" matInput placeholder="Llanta" (keyup)="filtrarDatos($any($event.target).value, 'nombrefiltro')" [formControl] = "filtroNombre">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombreproducto}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="marca">
                <mat-header-cell *matHeaderCellDef> 
                    <mat-form-field appearance="outline">
                        <input type="text" matInput placeholder="Marca" (keyup)="filtrarDatos($any($event.target).value, 'marca')">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.marca}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef>Fecha de Alta</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fechaalta}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dot">
                <!-- mat-sort-header -->
                <mat-header-cell *matHeaderCellDef>
                    @if(isChecked){
                        <mat-form-field appearance="outline">
                            <input type="text" matInput placeholder="Filtrar DOT" (keyup)="filtrarDatos($any($event.target).value, 'dot')">
                        </mat-form-field>
                    }@else{
                        <button class = "btn btn-dark" (click) = "SortData()">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> 
                        </button>
                    }
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class = "dotCell" (dblclick)="permisoDOT ? element.nuevo = 1 : null"> 
                    @if(element.nuevo == 0){
                        {{element.dot}}
                    }@else {
                        <mat-form-field>
                            <mat-label>DOT</mat-label>
                            <input type="number" matInput (keyup) = "validarInput(element.inventarioid)" [(ngModel)] = "element.dot">
                        </mat-form-field>
                    }
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ubicacion">
                <mat-header-cell *matHeaderCellDef>Ubicación</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    {{element.ubicacion}}   
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="costo">
                <mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="outline">
                        <input type="text" matInput placeholder="Compra" (keyup)="filtrarDatos($any($event.target).value, 'costo')">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    {{element.costo | currency: 'USD'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="venta">
                <mat-header-cell *matHeaderCellDef>Precio de Venta</mat-header-cell>
                <mat-cell *matCellDef="let element" (dblclick)="permisoPrecioVenta ? element.nuevo = 1 : null" class = "dotCell"> 
                    @if(element.nuevo == 0){
                        {{element.precioventa | currency: 'USD'}}
                    }@else {
                        <mat-form-field>
                            <mat-label>Precio de Venta</mat-label>
                            <input type="number" matInput [(ngModel)] = "element.precioventa">
                        </mat-form-field>
                    }
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ordencompra">
                <mat-header-cell *matHeaderCellDef>
                    <div class="estiloOc">
                    <mat-form-field>
                        <mat-label> OC </mat-label>
                        <input type="text" matInput (keyup)="filtrarDatos($any($event.target).value, 'ordencompraid')">
                    </mat-form-field>
                </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    {{element.ordencompraid}} 
                    
                </mat-cell>
                
            </ng-container>
            
            <ng-container matColumnDef="slideToggle">
                <mat-header-cell *matHeaderCellDef>Marcar Merma</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-slide-toggle 
                        [checked]="idsSeleccionados.includes(element.inventarioid)" 
                        (change)="toggleSeleccionado(element.inventarioid, $event.checked)">
                    </mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnasDesplegadas; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasDesplegadas;"></mat-row>
        </mat-table>
    </div>
 <div class = "paginator" >
        <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[10, 50, 100]"></mat-paginator></div>
        <div class = "botonesinf">
            <button class = "Prbtn botoninf" (click)="agregarInventario()" id = "añadirInventarioC"  #mostrarAlta> 
                <svg style="color: rgb(141, 216, 254);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                  </svg> <span class="colorBlue" >&nbsp;Inventario</span>
            </button>
            <button class = "Prbtn botoninf" (click)="plantillaInventario()"   > 
                <svg style="color: rgb(141, 216, 254);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                  </svg> <span class="colorBlue" >&nbsp;Plantilla Inventario</span>
            </button>
            <button class = "Lpbtn botoninf" (click) = "modificarLimites()">
                <svg style="color: #fad028;;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg> <span class="colorYellow" > &nbsp;Límite de Precios</span>
            </button>
            <button class = "Grbtn botoninf" (click)="guardarCambios()" id = "guardarInventario"  #mostrarAlta> 
                <svg style="color: #82f06cd6;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                    <path d="M11 2H9v3h2z"/>
                    <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                </svg> <span class="colorGreen" > &nbsp;Guardar</span>
            </button>
        </div>
    </mat-card-content>
    </mat-card>

<!-- <br>
<mat-card style = "width: 50%;">
    <mat-card-content>
        <mat-card-subtitle>Resúmen de inventario</mat-card-subtitle>
        <mat-table [dataSource]="resumen">
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> Nombre Producto </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cantidad}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="costopromedio">
                <mat-header-cell *matHeaderCellDef> Precio de Compra Promedio </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.costopromedio}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ventapromedio">
                <mat-header-cell *matHeaderCellDef> Precio de Venta Promedio </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.ventapromedio}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="resumenDesplegadas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: resumenDesplegadas;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card> -->