<rewrite>
  <rules>
    <!-- Redirigir a inicio si está autenticado, sino a login -->
    <rule name="Smart Root Redirect" stopProcessing="true">
      <match url="^$|^/$" />
      <conditions>
        <add input="{HTTP_COOKIE}" pattern="(.*)auth_token(.*)" negate="true" />
      </conditions>
      <action type="Redirect" url="/login/iniciosesion" redirectType="Temporary" />
    </rule>

    <rule name="Smart Root Redirect Authenticated" stopProcessing="true">
      <match url="^$|^/$" />
      <conditions>
        <add input="{HTTP_COOKIE}" pattern="(.*)auth_token(.*)" />
      </conditions>
      <action type="Redirect" url="/inicio" redirectType="Temporary" />
    </rule>

    <!-- Angular Routes -->
    <rule name="Angular Routes" stopProcessing="true">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      </conditions>
      <action type="Rewrite" url="/index.html" />
    </rule>
  </rules>
</rewrite>