section{
    padding: 30px;
    color: aliceblue;
}

h3{
    text-align: center;
}
@media (min-width: 1px) and (max-width: 950px) {

    .datosOC{
        width: 70vw;
        overflow-x: auto;
    }
    .tabla{
        overflow-x: auto;
        width: 350%;
    }
    .servicio{
        width: 70vw;
    }


}

section{
    padding: 20px;
    background-color: #21222D;
}
mat-table{
    background-color: transparent !important;
}

.mat-mdc-form-field-flex{
    background-color: transparent !important;
}

.Prbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorBlue{
    color:rgb(141, 216, 254);
}

.desbtn{
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(18, 129, 185, 0.447); 
    border: 1px solid rgb(141, 216, 254);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.elibtn{
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(255, 0, 0, 0.142); 
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorred{
    color:rgb(255, 0, 0);
}
.Cvbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: #f9d44058; 
    border: 1px solid #fad028;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}
.colorYellow{
    color: #fad028;
}
.Grbtn{
    align-items: center;
    padding: 10px 20px;
    background-color: #82f06c3b; 
    border: 1px solid #82f06cd6;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.colorGreen{
    color: #82f06cd6;
}